:root {
  --color: #555555;
  --color-white: #fff;
  --font : Montserrat;
  --bg-white: #ffffff;
  --bg-jumbotron: #3bd8ff;
  --bg-section-project: #f1f1f1;
  --bg-semi-transparent: #3bd8ffad;
  --box-shadow: #00000020;
}
body {
  font-family: Poppins;
}
h1,h2,h3,h4 {
  font-family: Montserrat;
}
p,
.title {
  color: var(--color);
}
footer,
.c-white,
.social-media a i,
.pesan-email,
form .btn,
#jumbotron {
  color: var(--color-white);
}
.wave-grey {
  fill: var(--bg-section-project);
}
.wave-white,
.label-float {
  fill: var(--bg-white);
}
.wave-blue {
  fill: var(--bg-jumbotron);
}

#jumbotron,
footer,
#contact form .btn {
  background: var(--bg-jumbotron);
}
#about,
#contact,
#contact form input,
#contact form textarea {
  background: var(--bg-white);
}





#jumbotron {
  padding-top: 10rem;
  text-align: center;
  font-size: 14px;
}
.img-profile {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background: #eee;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--color-white);
  margin: auto;
}
.img-profile img {
  width: 100%;
}
.name {
  font-size: 2.3rem;
  font-weight: 700;
  margin: 20px;
  text-transform: uppercase;
}
.title {
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 700;
  position: relative;
  margin-bottom: 40px;
}



#projects {
  padding-top: 2rem;
  background: var(--bg-section-project);
}
#contact {
  padding-top: 2rem;
}
.box-project .box {
  border-radius: 10px;
  padding: 0;
  margin: 10px 10px 20px;
  position: relative;
  box-shadow: 0px 1px 10px var(--box-shadow);
}
.box-project .box .active * {
  color: #fff;
}
.box-project .box .active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bg-semi-transparent);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
  opacity: 0;
  font-size: 30px;
}

.box-project .box:hover .active {
  opacity: 1;
}
.title-project {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  background: var(--bg-semi-transparent);
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 0 10px 0 10px;
  backdrop-filter: blur(2px);
}
.img-project {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-height: 180px;
  border-radius: 10px;
  background: #eee;
  margin-bottom: 10px;
}
.img-project img {
  width: 100%;
}
.box-project .description {
  text-align: left;
  padding: 0px 10px 10px;
}
.skills i {
  filter: drop-shadow(0px 0px 0px #000000);
}
#contact form {
  margin-top: 2rem !important;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}
#contact form .btn {
  margin-top: -5px;
}
input, textarea {
  border-color: var(--bg-jumbotron) !important;
}
input:hover ~ .label-float,
textarea:hover ~ .label-float {
  color: var(--bg-jumbotron);
}


#footer {
  background: var(--bg-jumbotron);
}
.social-media a i {
  display: inline-block;
  margin: 5px;
}
.fa-facebook:hover {
  color: #3b5998;
}
.fa-instagram:hover {
  color: #e1306c;
}
.fa-youtube:hover {
  color: #ff0000;
}
.fa-github:hover {
  color: #555555;
}
.stickyNav {
  top: -145px;
  /* bottom: 100vmax; */
  transition: .5s;
}

.pesan-email,
.darkmode-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background: var(--color);
  border-radius: 0 0 5px 0;
  font-size: 14px;
}