echo "# feriirawan" >> README.md 
git init 
git add README.md 
git commit -m "first commit" 
git branch -M main 
git remote add origin https://github.com/Feri-irawan/feriirawan.git
 git dorong -u asal utama
                
